*{
    padding: 0;
    margin: 0;
    outline: 0;
}
.header{
    background-color: #424141;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.manu{
    display: flex;
}
.manu-logo-img{
    width: 150px;
}
.manu-item{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s;
    margin-right: 10px;
    padding: 10px;
}
.manu-item:hover{
    color: blue;
}

/* banner part start */
.banner_part{
   background-image: url(../images/background.png),linear-gradient(50deg, rgb(5, 5, 5) , rgb(45, 43, 43));
    display: flex;
    background-position: center;
    background-size: cover;
    height: 670px;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.banner_content h1{
    font-size: 55px;
    font-weight: 800;
    
    text-transform: capitalize;
}
.banner_content p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0px;
    
}
.btn{
    color: tomato;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 30px;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.button_bnr{
    background-color: red;
    color: white;
}

.banner_img{
    width: 300px;
}
/* banner part end */


/* about part start */
.heading_cmn{
    text-align: center;
    text-transform: uppercase;
}
.heading_cmn{
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
    margin: 25px 0;
}
.about_img_cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 55px 0;
}
.about_content h4{
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}
.about_content p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    margin: 15px 0;
}
.about_img{
    width: 350px;
}
/* about part end */



/* service part start */
.service-container{
    background-image: url(../images/background.png),linear-gradient(45deg,rgb(5, 4, 4),rgb(47, 42, 42));
}
.box{
    height: 300px;
    width: 250px;
    background-color: black;
    border-radius: 12px;
    padding: 15px 15px 30px;
    text-align: center;
    transition: 0.6s;
    box-shadow: 15px 15px 120px rgba(255, 255, 255, 0.68);
}
.box:hover{
    box-shadow: 15px 15px 120px rgba(55, 147, 147, 0.80);
}
.box-icon{
    height: 70px;
    width: 70px;
}
.box-title{
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin: 15px 0;
}
.box-content{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 15px;
}
.box-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
/* service part end */
